:root{
    --accent-color: #F13C6E;
    --accent-color-secondary: rgba(241, 60, 110, 0.66);
    --accent-color-transparent: rgba(241, 60, 110, 0.38);
    --secondary-color: rgba(227, 218, 218, 0.55);
    --main-color: #ffffff;
    --bg-secondary-color:#FBFBFB;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --font-xxl:24px;
    --content-width:1200px;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: black;
    text-decoration: none;
    display: inline-block;}


.main{
    background-color: var(--secondary-color);
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    margin-top: 20px;
}

.header__top{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: var(--secondary-color);
}

.header__middle{
    display: flex;
    align-items: center;
   justify-content: space-between;
    margin-bottom: 20px;
}

.header__bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-md);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}


.header nav ul{
    display: flex;
    gap: 50px;
}

.nav-list{
    display: flex;
    column-gap: 50px;
    padding-bottom: 20px;
}

.header__contacts{
padding-left: 40%;
}

.header__logo:hover{
    transition: 2s;
    transform:rotateX(360deg);
}


.header__menu{
    font-weight: bold;
    cursor: pointer;
}

hr{
   border: none;
    background-color: var(--secondary-color);
height: 1px;
    margin-bottom: 50px;
}

.header__btn{
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 25px;
    margin-right: 200px;
    color: black;
    border-color: var(--accent-color);

}

.header__btn:hover{
    background-color: white;

}


.banner{
    display: flex;
    justify-content: center;
    background-image: url("../img/Rectangle 3.png");
    padding-top: 150px;
padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}


/*MAIN BLOCK*/

.content{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    padding-right: 60%;
    padding-top: 10px;
    padding-bottom: 100px;
}


.wrapper {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    gap: 10px;
}


.wrapper__title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
}

.wrapper__price{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 21px;
}

.btn-1{
    display: flex;
    justify-content: center;
  border-radius: 1px solid var(--accent-color);
    background-color: var(--accent-color);
}

.wrapper__item{
    background-color: white;


 }

h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
}

.content__text{
    font-size: 16px;
    color: white;
    max-width: 290px;
    margin-bottom: 50px;
}


.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: var(--font-sm);
    border-radius: 40px;
    padding: 10px 10px;
    border: 1px solid white;
    width: 150px;
}

.container__title-h2{
    display: flex;
    justify-content: flex-start;
}


h2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: var(--font-xxl);
}

.container__pre-main-title{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 850px;
    max-width: 100%;
 font-size: var(--font-xxl);
    font-weight: bold;
}

.grid h2{
    margin-bottom: 20px;
padding-right: 1000px;
}


.grid__item{
display: flex;
    flex-wrap: wrap;
    max-width:500px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.grid__image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid__title{
font-size: var(--font-xl);
}




.grid__color{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    gap: 10px;}

.wrapper__image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.grid__color-image{
    display: flex;
    justify-content: center;
    text-align: center;
}


.grid__text {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding-left: 40px;
    gap:10px;
    color: white;
    font-size: 14px;
}

.grid__text-p{
    display: flex;
    text-align: left;
    font-size: var(--font-sm);
    width: 190px;
    height: 40px;
}

.grid__color-content{
    display: flex;
    max-width: 500px;
    justify-content: center;
    gap: 10px;
    background-color: var(--accent-color);
    padding-right: 10px;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}


.grid__text{
    font-size: var(--font-md);
}

.button{
    width: 150px;
    padding: 10px 25px;
    border-radius: 25px;
    border-color: white;
    color: white;
    background-color: var(--accent-color);
    cursor: pointer;
}